python/__pycache__
python/resources/parameters.json

.vscode/
# Maven target directory
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Eclipse-specific files
.classpath
.project
.settings/

# NetBeans-specific files
nbproject/private/
build/

# IntelliJ-specific files
*.idea/
*.iml
*.iws

# Compiled Java class files
*.class

# Logs
*.log

# Compiled JAR files and archives
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.swp

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Dependency lock files
dependency-reduced-pom.xml
src/main/resources/parameters.json
